#GazetteLogo {
  position:absolute; left:2px; top:21px; width:259px; height:66px; z-index:1;font-size:8pt;font-weight:bold;text-align:center
}



h3 {
	text-indent: 1.2em;
	color: #CE0F0F;
  background-color:transparent;}
