body {
	line-height: 1.5;
	color: #366285;
	background: #E6F8D3;
	font-size: 12pt;
	padding: 10px 15px;

}

.sample {
	color: #C2DDFE;
	background: #000000;
	border-top: 4px groove #8D7A2E;
	border-right: 4px solid #B59C3C;
	border-bottom: 4px ridge #DFD29D;
	border-left: 4px outset #8A772D;
	font: 12pt/1 "Courier New", "Courier", "serif";
	margin: 5px 10px;
	padding: 10px 15px;


}
h1 {
	font-size: 20pt;
	color: #C83120;
}
h2 {
	font-size: 18pt;
	color: #C83120;

}
h3 {
	font-size: 16pt;
	color: #C83120;
}
h4 {
	font-size: 14pt;
	color: #C83120;
}
h5 {
	font-size: 12pt;
	color: #C83120;
}
p {
	padding: 5px 15px;
}
.TopTable {
	width: 100%;
}
.TtdL {
	text-align: left;
	width: 33%;
}
.TtdC {
	text-align: center;
	width: 34%;
}
.TtdR {
	text-align: right;
	width: 33%;
}
.TopTable caption {
	font-size: 16pt;
}
.term {
	color: #385825;
	background: #F8D5F9;
	border: 3px solid #3A43A7;
}
code {
	font-family: "Courier New", "Courier", "serif";
}
